body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #efefde;
}

header {
  background: #222;
  color: #efefde;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  height: calc(100vh - 70 px)
}

.sidebar {
  width: 250px;
  background: #efefde;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.05);
}

.main-area {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex start;
  background: #d3fc72
}

canvas {
  border: 1px solid #ccc;
  background: #efefde;
}

